svg {
  background-color: white;
}

/* Style for the svg datamap */
#container {
  float: left;
  width: 600px;
  margin-left: 1px;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  /* box-shadow: 1px 1px 1px 2px rgb(217, 217, 217); */
}

/* Set hover color */
path:hover {
  fill: rgba(8, 81, 156, 0.2)
  cursor: pointer;
}

/* Style of tooltip */
.d3-tip {
  position: absolute;
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0,8);
  content:"\25BC"
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/* legend for pie chart */
.legend {
  font-size: 14px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}
