.grid-template {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

body {
  padding-top: 3rem;
}

/* Create grid elements */
.wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid: 270px 270px / repeat(4, 270px);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 4;
  grid-row: 4;
}
.three {
  grid-column: 1;
  grid-row: 4;
}

.four {
  grid-column: 4;
  grid-row: 1;
}

svg {
  background-color: white;
}

/* Style for the svg datamap */
#datamap {
  float: left;
  width: 700px;
  height: 600px;
  margin-left: 0.5px;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Style for the svg scatterplot */
#scatterplot {
  float: left;
  width: 700px;
  height: 550px;
  margin-left: 0.5px;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Style for the svg piechart */
#piechart {
  float: left;
  width: 700px;
  height: 550px;
  margin-left: 0.5px;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Style for the svg text */
#text {
  float: left;
  width: 700px;
  height: 600px;
  margin-left: 0.5px;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}


/* Set hover color */
path:hover {
  fill: rgba(8, 81, 156, 0.2)
  cursor: pointer;
}

/* Style of tooltip */
.d3-tip {
  position: absolute;
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0,8);
  content:"\25BC"
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/* legend for pie chart */
.legend {
  font-size: 12px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}
